* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

body {
    margin-top: 0px;
    margin-bottom: px;
    margin-right: 150px;
    margin-left: 200px;
    background-color: #201c15;
}

.about-me {
    color: #201c15;
    background-color: #201c15;

}

.header {
    border: 20px solid #201c15;
        padding: 20px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        background-color: #201c15;
        color: #201c15;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

h1 {
    display: inline-block;
    font-size: 40px;
    color: white;
    background-color: #201c15;
    border: 5px solid white;
}


/* The photo size */
img {
    height: auto;
    width: 100%;
    border: 5px solid white;
    /* max-height: 200px; */
}
img:hover {
    background-color: white;
    transition: 1s;
    box-shadow: 3px 3px 3px 3px white;
    
}

/* The nav top bar */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
}

/* The nav top bar */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

li {
    font-size: 20px;
}

/* The nav top bar */
a {
    display: flex;
    color: white;
    text-decoration: none;
    border: 5px solid white;
    
}

h2 {
    display: flex;
        position: absolute;
        margin-bottom: 25px;
        bottom: 5%;
        left: 5%;
        font-size: 25px;
}


h3 {
    font-size: 40px;
        margin-bottom: 10px;
        border: 5px solid white;
        text-align: center;
        color: white;

}
h4 {
    font-size: 30px;
    color: white;
    border: 5px solid white;
}

.content {
    display: flex;
    margin-left: 50px;
}
.content-class a {
position: relative;
}

#main-content-container {
    display: flex;
        flex-wrap: wrap;
        margin-left: 15%;
        justify-content: flex-start;
        flex-direction: row;
}

#Search-Engine-Optimization {
    border: 20px solid #201c15;

 
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #201c15;
    color: white;
}
#Search-Engine-Optimization img {
    height: 250px;
        width: 900px;
}

#Online-Reputation-Management {
    border: 20px solid #201c15;

  
    height: 300px;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #201c15;
    color: white;
}

#Social-Media-Marketing {
    border: 20px solid #201c15;


    height: 300px;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #201c15;
    color: white;
}

.aside {

    width: 300px;
    max-width: 400px;
    min-width: 25px;
    padding: 50px;
    display: flex;
    align-self: top;
    background-color: #201c15;
    border: 20px solid #201c15;
    padding: 10px;
   

}

p {
    color: white;
    border: 5px solid white;

}

/* moved to bottom of page */
.footer {
    padding: 30px;
    border: 20px solid #201c15;
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 30%;
}

.footer ul li {
    list-style: none;
}
@media screen and (max-width:1860px) {
    img{
        width: 50%;
    }
#Search-Engine-Optimization img { 
width: 50%;
height: 50%;
   }
}